--extra-index-url https://download.pytorch.org/whl/cu124

torch==2.6.0+cu124
transformers==5.14.1
tokenizers==0.22.2
tqdm==4.70.0
tensorboard>=2.14,<3
flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1%2Bcu12torch2.6cxx11abiFALSE-cp312-cp312-linux_x86_64.whl ; sys_platform == "linux" and platform_machine == "x86_64" and python_version == "3.12"
